# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# macOS
.DS_Store

# Environment
.env
.venv
env/
venv/
ENV/

# Kubernetes
*.yaml

# Docker
*.tar
docker-compose.override.yml

# IDEs and editors
.idea/
.vscode/
*.swp

# Python packaging
*.egg
*.egg-info/
dist/
build/
